.sepForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:20px 0;


    .form{
      width: 70%;
      border: 1px solid #ccc;
      box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
      margin: 20px 0;
      padding: 60px 40px;
      .form-header{
        display: flex;
        justify-content: center;
        align-items: center;
        .sep-logo{
          width: 200px;
        }

        .title{
          text-align: center;
          .formTitle{
            font-size: 1.5rem;
            margin-bottom: 10px;
          }
          .formSubTitle{
            font-size: 1.5rem;
            margin-bottom: 10px;
          }
        }

      }

    .instructions{
      font-size: 1rem;
        margin-bottom: 10px;
        text-align: center;
      }

      .formGroup{
        .row{
          max-width: 90%;
          margin: 4rem auto;

          .left{
            border-right: 0.3px solid #ececec;
          }

          .col-6{
            .question{
              font-size: 1rem;
              margin-bottom: 35px;
              height: 6rem;
              display: flex;
              flex-direction: column;
              justify-content: end;
              margin: 0 30px;
            }
          }
        }
        .submitButton{
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: 20px;
          .btn{
            width: 400px;
            height: 50px;
            font-size: 1rem;
            background-color: #007bff;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: 0.3s;
            &:hover{
              background-color: #0056b3;
            }
          }
        }
      }
    }
}
