.card-data{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  .table-section{
    flex:5;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
    margin: 10px;
    width: 100%;
    padding: 0;
    overflow-y: hidden;
  }
  .table-data{
    overflow-y: scroll;
    height: 90%;
  }




  .header-data{
    padding: 10px;
    background-color: var(--primary-color);
    color: white;
    border-radius: 4px 4px 0 0;
    .title{
      font-size: 1.9rem;
    }
  }
}
