.user-overview{
  height: 100%;
  max-height: 100%;
  overflow: hidden;
  .header{
    padding: 10px;
    margin: 0 0 10px 0;
    background-color: #7a7a7a;
    color: white;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    .title{
      font-size: 1.9rem;
    }
  }
  .user-content{
    height: 90%;
    width: 100%;
    margin:0;
    padding: 0;
    display: flex;
    .data{
      flex: 8;
      padding: 10px;
      border-radius: 5px;
      margin: 10px;
      box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
    }
    .info{
      flex: 3;
      padding: 10px;
      border-radius: 5px;
      margin:10px;
      box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
    }
  }
}
