.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #812a1a;
  margin: 0;
  padding: 0;
  .login-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3d000b5b;
    border-radius: 10px;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.1);
    padding: 0 2rem;
    .login-image {
      width: 20rem;
      height: 20rem;
      padding: 10rem 10rem;
      background: url("../../../assets/images/Site_logo.png") no-repeat center;
      background-size: contain;
      background-position: center;
      background-position-x: center;
      background-position-y: center;
    }
    .login-form {
      width: 30rem;
      height: 30rem;
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 10px;
        height: 40%;
        .form-group {
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 10px;

          .see-pass {
            cursor: pointer;
            color: #000000;
            font-size: 16px;
          }
          input {
            margin: 10px 0;
            padding: 10px;
            border: 1px solid #18105c;
          }

          .pass{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 10px;
            background-color: white;
            padding: 0 10px 0 0;
            margin: 0;
            border: 1px solid #18105c;
            border-radius: 5px;

            .form-control{
              width: 100%;
              margin: 0;
              padding: 10px;
              border:none;

            }
          }

        }
      }
      .forgot-password {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 0.5rem;
        p {
          color: #007bff;
          text-decoration: none;
          font-size: 14px;
          margin: 0;
          padding: 0;
        }
      }
      .btn-xl {
        padding: 10px;
        background: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: 0.3s;
        width: 100%;
        &:hover {
          background: #0056b3;
        }
        &:disabled {
          background: #ccc;
          cursor: not-allowed;
        }
      }
    }
  }
}
