.profile{
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  max-width: 100%;

  .navigation{
    .button{
      height: 3rem;
      border-radius: 5px;
      display: flex;
      gap: 5px;
      font-size: 1.2rem;
      justify-content: center;
      align-items: center;
      border: none;
      background-color: rgba(255, 255, 255, 0);
      color: #000000
    }

    .button:hover{
      scale: 1.1;
    }
  }

  .image-section{
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      height: 36vh;
      width: 36vh;
      border-radius: 50%;
    }
  }

  .user-information{
    text-align: center;

    .user-data {
      margin-bottom: 2rem;
      p {
        margin: 0;
        padding: 0;
      }

      .name {
        font-weight: 500;
        font-size: 2.3rem;

      }

      .mail {
        font-weight: 400;
        font-size: 1.3rem;
      }

      .role {
        font-size: 1.2rem;
        font-weight: 300;
      }
    }

    .options{
      display: flex;
      align-items: center;
      gap: 1rem;
      justify-content: center;
      .button{
        width: 15rem;
        height: 3rem;
        border-radius: 5px;
        display: flex;
        gap: 5px;
        justify-content: center;
        align-items: center;
        border: none;
        background-color: #53190f;
        color: #f1f1f1
      }

      .button:hover{
        background-color: #53190f;
        color: #f1f1f1;
        scale: 1.1;
      }
    }

  }

  .perfil-interaction{
    flex: 5;
    display: flex;
    align-items: end;
  }
}
