.view-group{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  h1{
    margin-top: 2rem;
    color: #812A1A;
  }
  .container{
    display: flex;
    gap: 4rem;
    width: 95%;
    margin: 1rem 0;
    hr{
      border: 1.8px solid #B0942D;
    }
    b{
      color: #812A1A;
    }
    .btn{
      background-color: #812A1A;
      border-color: #812A1A;
      color: #ffffff;
    }
    table{
      thead{
        .table-secondary{
          th{
            background-color: #812A1A;
            color: #ffffff;
          }
        }
      }
      tbody{
        tr{
          td{
            background-color: #fffdf5;
          }
        }
      }
    }
    .students-list{
      flex: 3;
      .content-btn{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .btn-add{
        background-color: #812A1A;
        color: #ffffff;
        border: none;
        border-radius: 5px;
        padding: 0.5rem 1rem;
        font-size: 1rem;
        font-weight: 400;
        cursor: pointer;
        transition: background-color 0.5s;

        &:hover{
          background-color: #6d2016;
        }
      }
      }
    }
    .subjects-list{
      flex: 2;
    }
    .comments{
      flex: 1;
    }
  }
}