.change-password{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #b1b1b1;
  .change-password-container{
    width: 40%;
    padding: 20px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);

    .header{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;

      .title{
        font-size: 2rem;
        font-weight: 600;
      }
    }
    .change-password-content{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .change-password-form{
        width: 70%;
        form{
          .btn{
            width: 100%;
          }
        }
      }
    }
  }
}
