.app {
  .sime {
    display: flex;
    height: 100vh;
    width: 100vw;


    .content {
      flex: 10;
      height: 100vh;
      overflow-y: auto;
      padding: 0px;
      position: relative;
      width: 100%;
      background-color: #8a581748;
    }
  }
}

.error {
  color: red;
}
